body{
    display: flex;
   
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 300px; 
    width: 150px;
    height: 80px;
    border-radius: 15px;
    font-size: medium;
    font-weight: 100px;
    background-color: yellow;
}
button:hover{
    background-color: blue;
    box-shadow: 8px 10px #888888;
    cursor: pointer;
}